cacher-configs:

provider-configs:
  onefeed-instagram-plugin:
    pluginVars:
          useTotalMetricsForNormalization: "FALSE"
    feeds:
      "justinquinnb":
        loginType: "facebook"
        appId: "${FB_APP_ID}"
        appSecret: "${FB_APP_SECRET}"
        accessToken:
          value: "${FB_ACCESS_TOKEN}"
          isLongLived: "TRUE"
          autoRefresh: "TRUE"
